.babys-container {
    display: flex;
    flex-direction: column;

    .awardsps-item {
        width: 80%;
        margin-left: 10%;
        height: 300rpx;
        display: flex;
        flex-direction: row;
        align-items: center;
        // background-color: #efeff5;
        border-radius: 10rpx;

        &:not(:last-of-type) {
            // border-bottom: solid 1px rgba($color: #897038, $alpha: 0.5);
            margin-bottom: 20rpx;
        }
        .left-img {
            width: 250rpx;
            height: 250rpx;
            margin-left: 30rpx;
        }
        .right {
            display: flex;
            flex-direction: column;
            margin-left: 5%;

            .title {
                font-weight: 700;
                font-size: xx-large;
                font-family: 'yunfeng';
                color: #d7d7d7;
            }
        }
    }
}