/* 在入口文件的样式中 */
@font-face {
    font-family: 'yunfeng';
    src: url('https://image-space.thebestxt.cc/website/YunFengFeiYunTi-2.ttf') format('truetype'); /* TTF格式 */
    font-weight: 200;
    font-style: normal;
  }